<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="saturn72Config" type="Saturn72.Core.Configuration.Saturn72Config, Saturn72.Core" requirePermission="false" />
  </configSections>
  <saturn72Config>
    <setup>
    <engineDriver type="engineDriver, engineDriverNamespace" />
    <containerManager type="containerManager, containerManagerNamespace" />
    <configLoader type="containerManager, containerManagerNamespace" />
    <configLoaderData>
      <Data key="Key1" value ="Value1" />
      <Data key="Key2" value ="Value2" />
      <Data key="Key3" value ="Value3" />
    </configLoaderData>
    </setup>
  </saturn72Config>
</configuration>