<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net47" />
  <package id="Autofac.Extras.DynamicProxy" version="4.2.1" targetFramework="net47" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net47" />
  <package id="NUnit" version="3.7.1" targetFramework="net47" />
  <package id="NUnit3TestAdapter" version="3.8.0" targetFramework="net47" />
  <package id="Shouldly" version="2.8.3" targetFramework="net47" />
</packages>