<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="saturn72Config" type="Saturn72.Core.Configuration.Saturn72Config, Saturn72.Core" requirePermission="false"/>
  </configSections>

  <saturn72Config>
    <setup>
      <!--<engineDriver type="" />-->
      <!--<containerManager type="" />-->
      <!--<configLoader type="" />-->
      <configLoaderData>
        <Data key="FilePath" value="Config\ConfigRoot.xml"/>
      </configLoaderData>
    </setup>
  </saturn72Config>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
